body{
	background-color: #f5f5f5;
}
#header-wrapper{
	background-color: #FFFFFF;
	height: 125px;
}
li a.first, li a.first:hover{
	background-image: url("../images/icon/icon-home.png") !important;
	text-indent: -999em !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	padding-left: 30px !important;
}
.endmenu{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B1B1B1;
    float: left;
    padding: 0.75em 1em !important;
    width: 105px;
}
#logo{
	float: left;
	height: 100px;
}
#social{
	float: right;
}

#social ul li{
	float: left;
	list-style: none;
}
#menu-footer ul li{
	float: left;
	display: block;
	padding-right: 5px;
}
#menu-footer ul li a, #menu-footer ul li a:visited {
	color: #666666 !important;
	text-decoration: none !important;
}
#menu-footer ul{
	padding-left: 0px;
}
#menu-footer ul li{
	float: left;
	display: block;
	padding: 5px;
}
.box-footer ul li{
	float: left;
	list-style: none;
}
.twitter{
	background-image:  url('../images/icon/icon-twitter.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
    width: 30px;
	height: 25px;
	overflow: hidden;
	margin-right: 10px;
}
.twitter:hover{
	background-image:  url('../images/icon/icon-twitter-hv.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
    width: 30px;
	height: 25px;
	overflow: hidden;
	margin-right: 10px;
}
.facebook{
	background-image:  url('../images/icon/icon-facebook.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.facebook:hover{
	background-image:  url('../images/icon/icon-facebook-hv.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.skype{
	background-image:  url('../images/icon/icon-skype.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.skype:hover{
	background-image:  url('../images/icon/icon-skype-hv.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.vevo{
	background-image:  url('../images/icon/icon-vevo.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.vevo:hover{
	background-image:  url('../images/icon/icon-vevo-hv.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.wordpress{
	background-image:  url('../images/icon/icon-wordpress.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
.wordpress:hover{
	background-image:  url('../images/icon/icon-wordpress-hv.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
}
#featured-wrapper{
	background-image: url('../images/bg-content.png');
	width: 100%;
	height: 355px;
	border: 2px solid #F2F2F2;
}
#featured-inner{
	width: 960px;
}
.container{
	text-align: left;
	width: 960px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.clear {
	clear: both;
}
.box{
	float: left;
	width: 300px;
	padding: 10px;
}
.img-sl{
	width: 565px;
	float: left;
}
.desc-wrapper{
	float: left;
	width: 33%;
	padding: 15px;
	display: block;
}
#content-wrapper{
	width: 100%;
	background-image: url('../images/bg.png');
	padding: 40px 0px;
	border: 2px solid #F2F2F2;
}

.slide{
	padding: 5px !important;
}
.slide-title{
	font-size: 28px;
	color: #6D6E71;
	font-weight: bold;
}
.readmore{
	background-image: url('../images/readmore.png');
	text-indent: 9999em;
	overflow: hidden;
	display: block;
    height: 30px;
    width: 80px;
}

.flex-pause{
	background-image: url('../images/icon/pause.png');
	background-repeat: no-repeat !important;
	background-position: center !important;
	text-indent: 9999em;
	overflow: hidden;
	display: block;
    height: 17px;
    width: 17px;
    position: relative;
    left: 906px;
    top: 16px;
}
.flex-play{
	background-image: url('../images/icon/play.png');
	background-repeat: no-repeat !important;
	background-position: center !important;
	text-indent: 9999em;
	overflow: hidden;
	display: block;
    height: 17px;
    width: 14px;
    position: relative;
    left: 906px;
    top: 15px;
}

#footer-panels-wrapper{
	width: 100%;
	border-bottom: 1px solid #b1b1b1;
	height: 170px;
	background-color: #ffffff;
}
.container-footer{
	width: 960px;
	text-align: left;
}
.box-footer{
	float: left;
	width: 300px;
	padding: 10px;
	color: #666666;
}
.social{
	display: inline-block;
	float: right;
}
.wrapper{
	width: 960px;
}
#copyright{
	float: right;
	color: #666666;
}
